@{
    ViewBag.Title = "幼幼書坊";
}

<div class="jumbotron">
    <div class=" container">
        <img src="~/img/header.png" width="1000">
        <p><a href="/Home/About" class="btn btn-primary btn-lg">更多 &raquo;</a></p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>會員名單</h2>
        <p>
            幼幼書坊提供會員機制，讓您借書更方便。
        </p>
        <p><a class="btn btn-default" href="/members">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>個人借書查詢</h2>
        <p>幼幼書坊提供個人借書查詢，讓您借書更方便之餘，還能紀錄自己借閱的書籍。</p>
        <p><a class="btn btn-default" href="/bookDetails">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>本館藏書</h2>
        <p>幼幼書坊藏書豐富，滿足您的需求。無論是童書還是辭海，本館皆有！</p>
        <p><a class="btn btn-default" href="/books">前往 &raquo;</a></p>
    </div>
</div>